<!-- <div id="radial"></div> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
<div class="group relative isolate w-full rounded-md bg-background p-4">
    <div class="h-full">
      <!-- <div class="truncate text-sm font-semibold text-foreground" routerLink="/dashboard/detail/{{cols}}">{{ cols }}</div> -->
      <div class="relative mb-4">
        <div class="relative">
          <div id="radial" class="bg-background"></div>
        </div>
      </div>
    </div>
  </div>