<!-- <app-podcast-card-item class="bg-background"> -->
    <!-- todo cols class -->
    <!-- <div id="bar" class="bg-background"></div> -->
<!-- </app-podcast-card-item> -->
<!-- <div id="bar" class="bg-background" *ngClass="cols"></div> -->

<div class="group relative isolate w-full rounded-md bg-background p-4">
  <div class="h-full">
    <div class="truncate text-sm font-semibold text-foreground" routerLink="/dashboard/detail/{{name}}">{{ name }}</div>
    <div class="relative mb-4">
      <div class="relative">
        <div id="bar" class="bg-background"></div>
      </div>
    </div>
  </div>
</div>