<app-header [title]="'Tuya Smart Plugs'"></app-header>
<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <div class="mx-auto px-4 py-4 sm:px-8 lg:container"> 
    <button class="btn btn-blue flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground" (click)="toggle()">Toggle</button>
    <button class="btn btn-blue flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground" (click)="on()">Turn On</button>
    <button class="btn btn-blue flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground" (click)="off()">Turn Off</button>
  </div>
</div>
